#noticias{
    background-color: #ffffff !important;
    margin: 10px 0px 50px 0px;
    color: #1B362F;
    opacity: 0.95;
}
#noticias h2 {
    padding-top: 0px;
    margin-top: 10px;
}
#noticias hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 2px solid #FBC01C;;
}

#noticias-verde{
    background-color: #126C48 !important;
    margin: 10px 0px 50px 0px;
    color: #1B362F;
   opacity: 0.95;
}
#noticias-verde h2 {
    padding-top: 0px;
    margin-top: 10px;
}
#noticias-verde hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 2px solid #FBC01C;;
}

.fecha{
    color: #FBC01C;
}

.border-titulo-noticia{
    border-top-color: #FBC01C;
    border-top-width: 5px;
    border-top-style: solid;
    width: 50px;


}

.btn-warning{
    background-color:#FBC01C;
    border-color: #FBC01C;

}

#verde{
    background-color: #196A4A !important;
    padding: 10px 0px 50px 0px;
    color: #ffffff;
    opacity: .94;
}
#blanco{
    background-color:#ffffff !important;
    padding: 10px 0px 50px 0px;
    color: #196A4A;
    opacity: .94;
}
select {
    background-color: #FBC01C !important;
    color: #ffffff !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: none !important;
    font-size: 18px !important;
    min-height: 40px;
    margin: 10px 0 0 0;
}

.border-titulo-medio{
    border-top-color: #FBC01C;
    /*border-top-width: 5px;*/
    border-top-style: solid;
    width: 10%;

}
#verde .form-control {
    background-color: #818289;
    color: #ffffff;
    border-color: #818289;
}

.col-noticia{
    height: 100px;
    overflow: hidden;
}
#noticias i{
    color: #1B362F;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#fixture  h2{

    border-bottom-color: #FBC01C !important;
    border-bottom: solid 2px;
    box-shadow: 0 2px 0 #E5E7E6;
}
.txt-verde{
    color: #196A4A;
}
.txt-amarillo{
    color:#FBC01C;
}
.txt-negro{
    color:#000000;
}
.txt-blanco{
    color:#ffffff;
}

#fixture-impar h2{

}
#inscripcion p{
    color:  #1B362F;
    font-weight: 400;
}
#inscripcion .form-control {
    background-color: #D1D2D4;
    color: #000000;
    border: none !important;
}
#inscripcion ::-webkit-input-placeholder { color: #ffffff; } /* WebKit */
#inscripcion :-moz-placeholder { color: #ffffff; } /* Firefox 18- */
#inscripcion ::-moz-placeholder {color: #ffffff; } /* Firefox 19+ */
#inscripcion :-ms-input-placeholder { color: #ffffff; } /* IE 10+ */

#inscripcion hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: rgb(251, 192, 16) -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

#contacto ::-webkit-input-placeholder { color: #ffffff; } /* WebKit */
#contacto :-moz-placeholder { color: #ffffff; } /* Firefox 18- */
#contacto ::-moz-placeholder {color: #ffffff; } /* Firefox 19+ */
#contacto :-ms-input-placeholder { color: #ffffff; } /* IE 10+ */
/*-----------------------Live Validation--------------------------------------------*/
.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
    display: none;
}

.LV_invalid {
    color: #E44F4F;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    color: #E44F4F;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.timeline-heading{
    padding: 10px;
    opacity: 0.7;
    background-color: #DFDFC5;
    color: #0F895A;
    margin-top: 20px;
}
.timeline-heading .subheading{
    color: #203731 !important;
    text-transform: uppercase;
}
#about .section-heading
{
    color: #ffffff;
}
/*Para evitar leve desplazamiento hacia los costados*/
header .row{
    margin-right: 0px;
    margin-left: 0px;
}
#noticias .row{
    margin-right: 0px;
    margin-left: 0px;
}

#portfolio .row{
    margin-right: 0px;
    margin-left: 0px;
}
#verde .row{
    margin-right: 0px;
    margin-left: 0px;
}
#blanco .row{
    margin-right: 0px;
    margin-left: 0px;
}
#section-page .row{
    margin-right: 0px;
    margin-left: 0px;
}
#inscripcion .row{
    margin-right: 0px;
    margin-left: 0px;
}
#inscripcion #blanco {
    margin-right: -15px;
    margin-left: -15px;
}

#noticias-verde .row{
    margin-right: 0px;
    margin-left: 0px;
}
/*Para evitar leve desplazamiento hacia los costados*/


@media (min-width: 480px) {
    .navbar-brand > img {
        height: 400%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
    #section-page{
        margin-top:40px;
    }
}
@media (max-width:480px) {
    h1{
        font-size: 24px;
    }
    select {

        font-size: 12px !important;
        font-weight: 400;

    }
    .col-480{
       padding-right: 0px !important;
       padding-left: 0px !important;;
    }
    .col-resultado{
        font-size: 10px;
        padding-right: 0px !important;
        padding-left: 0px !important;;
    }
}
@media (max-width: 320px) {
    h1{
        font-size: 18px;
    }

}

@media (min-width: 320px) {
    .navbar-brand > img {
        height: 350%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }


}
@media (min-width: 768px) {
    .navbar-brand > img {
        height: 600%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
    #section-page{
        margin-top:150px;
    }
}

@media (min-width: 1280px) {
    .navbar-brand > img {
        height: 600%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
    #section-page{
        margin-top:170px;
    }
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-default {

        background-color: #1D382F;
        border-color: transparent

    }
    .navbar-brand > img {
        height: 400%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
}