#noticias{
    background-color: #ffffff !important;
    padding: 10px 0px 50px 0px;
    color: #1B362F;
}
#noticias h2 {
    padding-top: 0px;
    margin-top: 10px;
}
#noticias hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 2px solid #FBC01C;;
}
#noticias .fecha{
    color: #FBC01C;
}

.border-titulo-noticia{
    border-top-color: #FBC01C;
    border-top-width: 5px;
    border-top-style: solid;
    width: 5%;

}

.btn-warning{
    background-color:#FBC01C;
    border-color: #FBC01C;

}
@media (min-width: 480px) {
    .navbar-brand > img {
        height: 200%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
}
@media (min-width: 320px) {
    .navbar-brand > img {
        height: 150%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
}
@media (min-width: 768px) {
    .navbar-brand > img {
        height: 200%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
}

@media (min-width: 1280px) {
    .navbar-brand > img {
        height: 600%;
        width: auto;
        margin: 0 auto;
        padding-top: 0;

    }
}

#verde{
    background-color: #196A4A !important;
    padding: 10px 0px 50px 0px;
    color: #ffffff;
    opacity: .94;
}

.border-titulo-medio{
    border-top-color: #FBC01C;
    border-top-width: 5px;
    border-top-style: solid;
    width: 10%;

}
#verde .form-control {
    background-color: #818289;
    color: #ffffff;
    border-color: #818289;
}